@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    font-display: swap;
    src: local("NotoSansKR Bold"),
        url("../font/NotoSans-Bold.woff2") format("woff2"),
        url("../font/NotoSans-Bold.woff") format("woff");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    font-display: swap;
    src: local("NotoSansKR Medium"),
        url("../font/NotoSans-Medium.woff2") format("woff2"),
        url("../font/NotoSans-Medium.woff") format("woff");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    font-display: swap;
    src: local("NotoSansKR Regular"),
        url("../font/NotoSans-Regular.woff2") format("woff2"),
        url("../font/NotoSans-Regular.woff") format("woff");
}

:root {
    --color-ffffff-white: #ffffff;
    --color-003595-primary: #003595;
    --color-0046C6-primary-hover: #0046C6;
    --color-00225F-primary-active: #00225F;
    --color-FAFCFF-primary-bg: #FAFCFF;
    --color-00783f-secondary: #00783f;
    --color-E4F9EF-secondary-bg: #E4F9EF;
    --color-DB0000-red: #DB0000;
    --color-F07561-warning: #F07561;
    --color-FBEBE8-warning-bg: #FBEBE8;
    --color-FBCA53-yellow: #FBCA53;
    --color-4B17AA-purple: #4B17AA;
    --color-181F27-balck: #181f27;
    --color-313D4A-darkgray: #313D4A;
    --color-54595D-gray: #54595D;
    --color-72777B-lightgray: #72777B;
    --color-8B95A1-softgray: #8B95A1;
    --color-B5BAC0-palegray: #B5BAC0;
    --color-f5f5f5-gray-rgb: #f5f5f5;
    --color-003595-light-primary: rgba(0, 53, 149, 0.05);
    --color-dimmed: rgba(0, 0, 0, .4);
    --color-dimmed-dark: rgba(0, 0, 0, .6);
    --color-shadow: 0px 4px 30px rgba(0, 0, 0, .1);
    --color-cccccc-line: #cccccc;
    --color-DDDDDD-disabled: #DDDDDD;

    --font-family: "NotoSansKR", sans-serif;

    /* 타이틀 폰트 사이즈 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --font-title-28-xl: 28px;
    --font-title-24-lg: 24px;
    --font-title-22-md: 22px;
    --font-title-20-sm: 20px;
    --font-title-18-xs: 18px;

    /* 폰트사이즈 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --font-20-xl: 20px;
    --font-18-lg: 18px;
    --font-16-md: 16px;
    --font-15-sm: 15px;
    --font-14-xs: 14px;
    --font-13-xxs: 13px;
    --font-12-min: 12px;

    /* 폰트두께 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --font-700-bold: 700;
    --font-500-medium: 500;
    --font-400-regular: 400;

    /* 여백 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --space-80-fivexl: 80px;
    --space-60-fourxl: 60px;
    --space-48-threexl: 48px;
    --space-40-xxl: 40px;
    --space-32-xl: 32px;
    --space-24-lg: 24px;
    --space-20-md: 20px;
    --space-16-sm: 16px;
    --space-12-xs: 12px;
    --space-8-xxs: 8px;
    --space-4-min: 4px;

    /* 모서리지름 : 최종 버전으로 추후 변수명의 숫자 일괄 삭제 */
    --radius-full: 100px;
    --radius-28-threexl: 28px;
    --radius-24-xxl: 24px;
    --radius-20-xl: 20px;
    --radius-16-lg: 16px;
    --radius-12-md: 12px;
    --radius-8-sm: 8px;

    /* 공통요소 사이즈 */
    --header-56-height: 56px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

:root,
html {
    font-size: var(--font-16-md);
    height: 100%;
}

body {
    font-family: var(--font-family);
    line-height: 1.5;
    /* overflow: hidden; */
    height: 100%;
    min-height: 100%;
    letter-spacing: -1px;
    margin: 0;
}

a {
    transition: .5s all;
    text-decoration: none;
}

a:hover,
a:focus {
    transition: .5s all;
}

dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    cursor: pointer;
}

button,
input,
textarea,
select {
    font-family: var(--font-family);
    letter-spacing: -1px;
}

input:focus,
input:hover {
    outline: none;
}

textarea {
    overflow: auto;
    resize: none;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

caption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: left;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

select {
    word-wrap: normal;
}

select:disabled {
    opacity: 1;
}

img {
    width: 100%;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding: 0 var(--space-24-lg);
    width: 100%;
}

/* **************************************** *
 * Common
 * **************************************** */
.common-wrap .header {
    align-items: center;
    background: #222;
    display: flex;
    height: 60px;
    padding: 0 20px;
}

.common-wrap .header h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.common-body {
    display: flex;
    flex-direction: row;
}

.common-body aside {
    background: #F4F5F7;
    height: auto;
    padding: 20px;
    width: 200px;
}

.common-body aside ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.common-body aside ul li a {
    color: #333;
    font-size: 16px;
}

.common-element {
    padding: 20px;
    width: calc(100% - 200px);
}

.common-element table {
    margin: 0 0 20px 0;
    width: 100%;
}

.common-element tr:nth-child(1) {
    height: 40px;
}

.common-element tr td {
    vertical-align: top;
    font-size: 14px;
}

.common-element tr td:nth-child(1) {
    width: 100px;
}

/* **************************************** *
 * Layout
 * **************************************** */
.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
    padding: var(--header-56-height) 0 0 0;
}

.main.gray {
    background: var(--color-f5f5f5-gray-rgb);
}

.gray {
    background: var(--color-f5f5f5-gray-rgb);
}

.main .btn-group.bottom {
    margin: auto 0 0 0;
}

/* **************************************** *
 * Header
 * **************************************** */
.header {
    background: var(--color-ffffff-white);
    padding: var(--space-16-sm) 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header .container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.header .header-back {
    align-items: center;
    display: flex;
    padding: var(--space-8-xxs);
    position: absolute;
    left: 16px;
}

.header .header-title {
    color: var(--color-181F27-balck);
    font-size: var(--font-18-lg);
    font-weight: var(--font-700-bold);
    line-height: 24px;
}

.header .header-close {
    align-items: center;
    display: flex;
    padding: var(--space-8-xxs);
    position: absolute;
    right: 16px;
}

.header .header-my {
    align-items: center;
    color: var(--color-181F27-balck);
    display: flex;
    padding: var(--space-8-xxs);
    position: absolute;
    right: 16px;
}

.header-main {
    background: none;
}

.header-main .header-back img {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(110deg) brightness(104%) contrast(101%);
}

.header-main .header-title {
    color: var(--color-ffffff-white);
}

.header-main .header-my {
    color: var(--color-ffffff-white);
}

/* **************************************** *
 * Footer
 * **************************************** */
.footer {
    background: var(--color-181F27-balck);
    padding: var(--space-32-xl) 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: var(--space-24-lg);
}

.footer .footer-top {
    display: flex;
    flex-direction: column;
    gap: var(--space-4-min);
}

.footer .footer-top h6 {
    color: var(--color-ffffff-white);
    font-size: var(--font-15-sm);
    font-weight: var(--font-700-bold);
    line-height: 20px;
}

.footer .footer-top p {
    color: var(--color-f5f5f5-gray-rgb);
    font-size: var(--font-13-xxs);
    font-weight: var(--font-500-medium);
    line-height: 20px;
}

.footer address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    gap: var(--space-8-xxs);
}

.footer address h6 {
    align-items: center;
    color: var(--color-f5f5f5-gray-rgb);
    display: flex;
    font-size: var(--font-13-xxs);
    font-weight: var(--font-700-bold);
}

.footer address h6 img {
    transform: rotate(180deg);
    height: 20px;
    width: 20px;
}

.footer address h6.active img {
    transform: rotate(0deg);
}

.footer address ul {
    display: none;
    flex-direction: column;
    gap: var(--space-4-min);
}

.footer address ul.show {
    display: flex;
}

.footer address dl {
    display: flex;
}

.footer address dl dt {
    color: var(--color-f5f5f5-gray-rgb);
    font-size: var(--font-13-xxs);
    font-weight: var(--font-500-medium);
    line-height: 20px;
    width: 100px;
}

.footer address dl dd {
    color: var(--color-f5f5f5-gray-rgb);
    font-size: var(--font-13-xxs);
    font-weight: var(--font-400-regular);
    line-height: 20px;
}


/* **************************************** *
 * Button
 * **************************************** */
.btn-group {
    display: flex;
}

.btn-group.column {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btn-group.bottom {
    padding: var(--space-16-sm) var(--space-24-lg);
}

.btn-group.fixed {
    background: transparent;
    bottom: 0;
    position: sticky;
    width: 100%;
}

.btn-group.bg-white {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 50%);
}

.btn-group.border-top {
    border-top: 1px solid var(--color-cccccc-line);
}

.btn-group.last>.btn:first-child {
    flex: 0 0 auto;
    width: 100px;
}

.btn-group>.btn {
    flex-basis: 0;
    flex-grow: 1;
}

/** 버튼 그룹 - 여백 **/
.btn-group.btn-space-min {
    gap: var(--space-4-min);
}

.btn-group.btn-space-xxs {
    gap: var(--space-8-xxs);
}

.btn-group.btn-space-sm {
    gap: var(--space-16-sm);
}

/** 버튼 - 유형별 **/
.btn.btn-primary {
    background: var(--color-003595-primary);
    border-color: var(--color-003595-primary);
    color: var(--color-ffffff-white);
}

.btn.btn-primary:hover {
    background: var(--color-0046C6-primary-hover);
    border-color: var(--color-0046C6-primary-hover);
}

.btn.btn-primary:active {
    background: var(--color-00225F-primary-active);
    border-color: var(--color-00225F-primary-active);
}

.btn.btn-primary:disabled {
    opacity: 0.2;
}

.btn.btn-light-primary {
    background: var(--color-003595-light-primary);
    border-color: var(--color-003595-light-primary);
    color: var(--color-003595-primary);
}

.btn.btn-outline-primary {
    background: var(--color-ffffff-white);
    border: 1px solid var(--color-003595-primary);
    color: var(--color-003595-primary);
}

.btn.btn-outline-primary:hover {
    background: var(--color-ffffff-white);
    border: 1px solid var(--color-0046C6-primary-hover);
    color: var(--color-0046C6-primary-hover);
}

.btn.btn-outline-primary:active {
    background: var(--color-ffffff-white);
    border: 1px solid var(--color-00225F-primary-active);
    color: var(--color-00225F-primary-active);
}

.btn.btn-outline-primary:disabled {
    opacity: 0.2;
}

.btn.btn-lightgray {
    background: var(--color-f5f5f5-gray-rgb);
    border-color: var(--color-f5f5f5-gray-rgb);
    color: var(--color-54595D-gray);
}

.btn.btn-black {
    background: var(--color-181F27-balck);
    border-color: var(--color-181F27-balck);
    color: var(--color-ffffff-white);
}

.btn.btn-black:hover {
    background: var(--color-313D4A-darkgray);
    border-color: var(--color-313D4A-darkgray);
}

.btn.btn-black:active {
    background: var(--color-181F27-balck);
    border-color: var(--color-181F27-balck);
}

.btn.btn-black:disabled {
    opacity: 0.2;
}

.btn.btn-none {
    background: none;
    border-color: none;
    color: var(--color-54595D-gray);
}

.btn.btn-none:hover {
    background: none;
    border-color: none;
}

.btn.btn-none:active {
    background: none;
    border-color: none;
}

.btn.btn-none:disabled {
    opacity: 0.2;
}

.btn.btn-ico {
    align-items: center;
    background: none;
    display: flex;
}

.btn.btn-ico img {
    height: 20px;
    width: 20px;
}

/** 버튼 - 크기별 **/
.btn.btn-sm {
    padding: var(--space-4-min);
}

.btn.btn-md {
    border-radius: var(--radius-12-md);
    font-size: var(--font-14-xs);
    padding: var(--space-12-xs) 0;
    width: 100%;
}

.btn.btn-lg {
    border-radius: var(--radius-12-md);
    font-size: var(--font-16-md);
    padding: var(--space-16-sm) 0;
    width: 100%;
}

.btn.btn-lg.h-sm {
    padding: var(--space-12-xs) 0;
}

/** 버튼 - 링크 **/
.btn-link {
    color: var(--color-72777B-lightgray);
}

.btn-link.btn-lg {
    font-size: var(--font-16-md);
    text-align: center;
    width: 100%;
}

/* **************************************** *
 * Text
 * **************************************** */
/** 텍스트 - 강조 **/
.text-primary {
    color: var(--color-003595-primary);
}

/* **************************************** *
 * MODAL
 * **************************************** */
.modal-wrap {
    background: var(--color-dimmed);
    bottom: 0;
    display: none;
    height: 100%;
    position: fixed;
    transition: opacity 1s ease;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 102;
}

.modal-wrap.active {
    display: flex;
    transition: opacity 1s ease;
}

.modal-inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    transition: transform 0.5s ease;
    transform: translateY(0);
    width: 100%;
}

.modal-content {
    background: var(--color-ffffff-white);
    border-radius: var(--radius-28-threexl);
    opacity: 0;
    max-width: 400px;
    padding: var(--space-20-md);
    position: relative;
    transform: translateY(-40px);
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: calc(100% - var(--space-48-threexl));
}

.modal-topbar {
    background: #E4E8EB;
    border-radius: var(--radius-full);
    height: 4px;
    left: 50%;
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
    width: 68px;
}

.modal-wrap.active .modal-content {
    opacity: 1;
    transform: translateY(0);
}

/* 추가된 스타일: 애니메이션 초기화 */
.modal-wrap.active .modal-inner {
    animation: modalSlideDown 0.5s ease;
}

@keyframes modalSlideDown {
    from {
        transform: translateY(-1.25rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes modalSlideUp {
    from {
        transform: translateY(40px);
    }

    to {
        transform: translateY(0);
    }
}

/** 유형별 **/
.modal-wrap.modal-bottom .modal-inner {
    align-items: flex-end;
    padding: 0 0 var(--space-16-sm) 0;
}

.modal-wrap.modal-bottom .modal-content {
    width: calc(100% - var(--space-24-lg));
}

.modal-wrap.modal-bottom-sheet .modal-inner {
    align-items: flex-end;
}

.modal-wrap.modal-bottom-sheet .modal-content {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow-y: scroll;
    max-width: 100%;
    max-height: 96%;
    padding-top: var(--space-32-xl);
    width: 100%;
}

.modal-wrap.slide-up.active .modal-inner {
    animation: modalSlideUp 0.5s ease;
}


.modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.modal-header.vertical {
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.modal-header h5 {
    text-align: left;
}

.modal-header button {
    background: none;
    border: 0;
    padding: 0;
}

.modal-title {
    color: var(--pass-black-03);
    font-size: 22px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-body p {
    color: var(--pass-darkgray);
    font-size: var(--pass-text-md);
}

.modal-alert {
    display: flex;
    flex-direction: column;
    gap: var(--space-16-sm);
    padding: var(--space-40-xxl) 0;
}

.modal-alert h4 {
    color: var(--color-181F27-balck);
    font-size: var(--font-20-xl);
    font-weight: var(--font-500-medium);
    line-height: 28px;
}

.modal-alert h5 {
    color: var(--color-181F27-balck);
    font-size: var(--font-20-xl);
    font-weight: var(--font-500-medium);
    line-height: 28px;
}

.modal-alert h6 {
    color: var(--color-54595D-gray);
    font-size: var(--font-16-md);
    font-weight: var(--font-500-medium);
    line-height: 24px;
}

.modal-alert a {
    color: var(--color-DB0000-red);
    font-size: var(--font-18-lg);
    font-weight: var(--font-500-medium);
    line-height: 26px;
    text-decoration: underline;
}

.modal-bottom .modal-body {
    margin: var(--space-8-xxs) 0 0 0;
}

/* **************************************** *
 * Card
 * **************************************** */
/* **************************************** *
 * Input
 * **************************************** */
.input-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--space-24-lg);
}

.input-sm .input-wrap {
    gap: var(--space-16-sm);
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
}

.input-group label {
    align-items: center;
    color: var(--color-181F27-balck);
    display: flex;
    gap: var(--space-4-min);
    font-size: var(--font-16-md);
    font-weight: var(--font-500-medium);
}

.input-group label.d-none {
    display: none;
}

.input-group label span {
    color: var(--color-DB0000-red);
    margin: 0 0 0 2px;
}

.input-group-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-8-xxs);
}

.input-group input {
    border: 1px solid transparent;
    background: var(--color-f5f5f5-gray-rgb);
    border-radius: var(--radius-12-md);
    color: var(--color-313D4A-darkgray);
    font-size: var(--font-16-md);
    font-weight: var(--font-400-regular);
    padding: var(--space-16-sm);
}

.input-group input::placeholder {
    color: var(--color-B5BAC0-palegray);
    font-weight: var(--font-400-regular);
}

.input-group input:disabled {
    background: var(--color-DDDDDD-disabled);
}

.input-group input:disabled:hover,
.input-group input:disabled:active,
.input-group input:disabled:focus {
    border: 1px solid transparent;
}

.input-group input:hover,
.input-group input:active {
    border: 1px solid var(--color-B5BAC0-palegray);
}

.input-field-number {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-field-number>span {
    color: var(--color-72777B-lightgray);
    font-size: var(--font-16-md);
    font-weight: var(--font-400-regular);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
}

.input-field-number>span>b {
    color: var(--color-DB0000-red);
    font-weight: var(--font-400-regular);
}

.input-field-search {
    position: relative;
    width: 100%;
}

.input-field-search input {
    padding-right: var(--space-60-fourxl);
    width: 100%;
}

.input-field-search .btn-search {
    background: url(../img/ico/i-search.svg) 24px;
    background-position: center;
    height: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    padding: var(--space-8-xxs);
    width: 28px;
}

.input-group.error small {
    color: var(--color-DB0000-red);
    font-size: var(--font-14-xs);
    font-weight: var(--font-400-regular);
}

.input-group a {
    color: var(--color-72777B-lightgray);
    font-size: var(--font-14-xs);
    font-weight: var(--font-400-regular);
    text-decoration: underline;
}

.input-group h6 {
    color: var(--color-72777B-lightgray);
    font-size: var(--font-14-xs);
    font-weight: var(--font-400-regular);
}

/* checkbox */
.check-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--space-8-xxs);
}

.check-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: var(--space-12-xs);
}

.check-group input {
    display: none;
}

.check-group label {
    align-items: center;
    cursor: pointer;
    flex: 1;
    display: flex;
}

.check-group input+label::before {
    background: url(../img/ico/i-checkbox.svg);
    content: '';
    display: inline-block;
    flex: 0 0 auto;
    height: 24px;
    width: 24px;
}

.check-group input:checked+label::before {
    background: url(../img/ico/i-checkbox-checked.svg);
}

.check-group .text {
    color: var(--color-54595D-gray);
    font-size: var(--font-15-sm);
    font-weight: var(--font-400-regular);
    margin: 0 0 0 var(--space-8-xxs);
    text-align: left;
}

.check-group .check-link {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    padding: var(--space-8-xxs);
}

/** 유형별 : 아웃라인 **/
.check-group.outline label {
    border: 1px solid var(--color-B5BAC0-palegray);
    border-radius: var(--radius-12-md);
    padding: var(--space-12-xs) var(--space-16-sm);
    width: 100%;
}

.check-group.outline input:checked+label {
    border-color: var(--color-003595-primary);
}

/* radio */
.radio-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
    text-align: left;
}

.radio-wrap h6 {
    color: var(--color-181F27-balck);
    font-size: var(--font-16-md);
    font-weight: var(--font-500-medium);
}

.radio-wrap h6 span {
    color: var(--color-DB0000-red);
    margin: 0 0 0 2px;
}

.radio-group-field {
    display: flex;
    gap: var(--space-8-xxs);
}

.radio-group {
    flex: 1;
}

.radio-group input {
    display: none;
}

.radio-group label {
    background: var(--color-f5f5f5-gray-rgb);
    border-radius: var(--radius-12-md);
    color: var(--color-54595D-gray);
    cursor: pointer;
    display: flex;
    font-size: var(--font-16-md);
    justify-content: center;
    padding: var(--space-16-sm);
    width: 100%;
}

.input-sm .radio-group label {
    padding: var(--space-12-xs) var(--space-16-sm);
}

.radio-group input:checked+label {
    background: var(--color-003595-primary);
    color: var(--color-ffffff-white);
}

/* date */
.date-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
    text-align: left;
}

.date-group label {
    color: var(--color-181F27-balck);
    font-size: var(--font-16-md);
    font-weight: var(--font-500-medium);
}

.date-group label.d-none {
    display: none;
}

.date-group label span {
    color: var(--color-DB0000-red);
    margin: 0 0 0 2px;
}

.date-group-area {
    align-items: center;
    display: flex;
    gap: var(--space-8-xxs);
}

.date-group-field {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-8-xxs);
    position: relative;
}

.date-group-field.row {
    align-items: center;
    flex-direction: row;
}

.date-group input {
    border: 1px solid transparent;
    background: var(--color-f5f5f5-gray-rgb) url(../img/ico/i-datepicker.svg) no-repeat 50%/20px;
    background-position: right 16px center;
    border-radius: var(--radius-12-md);
    color: var(--color-313D4A-darkgray);
    font-size: var(--font-16-md);
    font-weight: var(--font-400-regular);
    height: 58px;
    padding: var(--space-16-sm);
    -webkit-appearance: none;
    width: 100%;
}

.date-group input::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.date-group input[type=time] {
    border: 1px solid transparent;
    background: var(--color-f5f5f5-gray-rgb) url(../img/ico/i-time.svg) no-repeat 50%/20px;
    background-position: right 16px center;
    border-radius: var(--radius-12-md);
    color: var(--color-313D4A-darkgray);
    font-size: var(--font-16-md);
    font-weight: var(--font-400-regular);
    height: 58px;
    padding: var(--space-16-sm);
    -webkit-appearance: none;
    width: 100%;
}

.date-group input:hover,
.date-group input:active,
.date-group input:focus {
    border: 1px solid var(--color-B5BAC0-palegray);
    outline: none;
}

/* select */
.select-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
    text-align: left;
}

.select-group label {
    color: var(--color-181F27-balck);
    font-size: var(--font-16-md);
    font-weight: var(--font-500-medium);
}

.select-group label span {
    color: var(--color-DB0000-red);
    margin: 0 0 0 2px;
}

.select-group-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-8-xxs);
}

.select-group-row-field {
    display: flex;
    flex-direction: row;
    gap: var(--space-8-xxs);
}

.select-group select {
    border: 1px solid transparent;
    background: var(--color-f5f5f5-gray-rgb) url(../img/ico/i-select-down.svg) no-repeat 50%/20px;
    background-position: right 16px center;
    border-radius: var(--radius-12-md);
    color: var(--color-313D4A-darkgray);
    font-size: var(--font-16-md);
    font-weight: var(--font-400-regular);
    padding: var(--space-16-sm);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
}

.select-group select:hover,
.select-group select:active,
.select-group select:focus {
    border: 1px solid var(--color-B5BAC0-palegray);
    outline: none;
}

.select-group select:disabled:hover,
.select-group select:disabled:active,
.select-group select:disabled:focus {
    border: 1px solid transparent;
}

.input-sm .select-group select {
    padding: var(--space-12-xs) var(--space-16-sm);
}

.select-group select:focus {
    outline: none;
}

.select-group select:disabled {
    background: var(--color-DDDDDD-disabled);
}

.select-group.error small {
    color: var(--color-DB0000-red);
    font-size: var(--font-14-xs);
    font-weight: var(--font-400-regular);
}

/* textarea */
.text-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
    text-align: left;
}

.text-group label {
    color: var(--color-181F27-balck);
    font-size: var(--font-16-md);
    font-weight: var(--font-500-medium);
}

.text-group label span {
    color: var(--color-DB0000-red);
    margin: 0 0 0 2px;
}

.text-group textarea {
    border: 1px solid transparent;
    background: var(--color-f5f5f5-gray-rgb);
    border-radius: var(--radius-12-md);
    color: var(--color-313D4A-darkgray);
    font-size: var(--font-16-md);
    font-weight: var(--font-400-regular);
    height: 200px;
    padding: var(--space-16-sm);
}

.text-group textarea:hover,
.text-group textarea:active,
.text-group textarea:focus {
    border: 1px solid var(--color-B5BAC0-palegray);
    outline: none;
}

.text-group textarea::placeholder {
    color: var(--color-B5BAC0-palegray);
    font-weight: var(--font-400-regular);
}

/* profile */
.profile-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
}

.profile-group label {
    color: var(--color-181F27-balck);
    font-size: var(--font-16-md);
    font-weight: var(--font-500-medium);
}

.profile-group-field {
    position: relative;
    height: 120px;
    width: 120px;
}

.profile-group .profile {
    border-radius: 100px;
    height: 120px;
    width: 120px;
}

.profile-group .profile .dog,
.profile-group .profile .cat {
    background-size: cover;
    height: 80px;
    width: 80px;
}

.profile-group input {
    display: none;
}

.profile-group .profile-upload-btn {
    align-items: center;
    background: var(--color-313D4A-darkgray);
    border-radius: 100px;
    bottom: 4px;
    display: flex;
    height: 28px;
    justify-content: center;
    position: absolute;
    right: 4px;
    width: 28px;
}

/* **************************************** *
 * Toast & Bottom Sheet
 * **************************************** */
.toast {
    align-items: center;
    background: var(--color-8B95A1-softgray);
    border-radius: var(--radius-full);
    bottom: 124px;
    color: var(--color-ffffff-white);
    display: flex;
    font-size: var(--font-15-sm);
    font-weight: var(--font-500-medium);
    gap: var(--space-8-xxs);
    line-height: 22px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    padding: var(--space-12-xs) var(--space-20-md);
    position: fixed;
    transition: opacity 0.5s;
    z-index: 101;
    width: max-content;
}

.toast img {
    width: max-content;
}

.bottom-sheet {
    background: var(--color-ffffff-white);
    bottom: 0;
    border-top-left-radius: var(--radius-28-threexl);
    border-top-right-radius: var(--radius-28-threexl);
    box-shadow: 0 -10px 20px rgba(0, 0, 0, .1);
    opacity: 0;
    position: sticky;
    padding: var(--space-20-md);
    transform: translateY(100px);
    width: 100%;
    z-index: 100;
}

.bottom-sheet.active {
    animation: modalSlideUp 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}

.bottom-sheet h6 {
    color: var(--color-003595-primary);
    font-size: var(--font-16-md);
    font-weight: var(--font-700-bold);
    margin: 0 0 var(--space-20-md) 0;
}

.main.show {
    margin: 0 0 140px 0;
}

/* **************************************** *
 * Profile
 * **************************************** */
.profile {
    align-items: center;
    background: var(--color-f5f5f5-gray-rgb);
    background-size: cover !important;
    border-radius: var(--space-16-sm);
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
}

.profile-full {
    border-radius: 100px;
}

.profile.sm {
    height: 54px;
    width: 54px;
}

.profile .dog {
    background: url(../img/pet/dog.svg);
    background-size: cover;
    height: 40px;
    width: 40px;
}

.profile .cat {
    background: url(../img/pet/cat.svg);
    background-size: cover;
    height: 40px;
    width: 40px;
}

/* **************************************** *
 * Loading
 * **************************************** */
.loading {
    align-items: center;
    background: var(--color-dimmed-dark);
    display: none;
    flex-direction: column;
    gap: var(--space-20-md);
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}

.loading.show {
    display: flex;
}

.loading img {
    animation: spin 1.5s linear infinite;
    height: 40px;
    width: 40px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading p {
    color: var(--color-ffffff-white);
    font-size: var(--font-20-xl);
    font-weight: var(--font-500-medium);
    text-align: center;
}

/* **************************************** *
 * Progress
 * **************************************** */
progress {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: var(--color-f5f5f5-gray-rgb);
    border-radius: var(--radius-full);
    height: 10px;
    overflow: hidden;
    width: 100%;
}

.progress-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-8-xxs);
}

.progress-group progress::-webkit-progress-bar {
    background-color: var(--color-f5f5f5-gray-rgb);
    border-radius: 8px;
}

.progress-group progress::-webkit-progress-value {
    border-radius: 8px;
    transition: width 0.3s ease;
}

.progress-group.green progress::-webkit-progress-value {
    background: var(--color-00783f-secondary);
    border-radius: 8px;
    transition: width 0.3s ease;
}

.progress-group.orange progress::-webkit-progress-value {
    background-color: var(--color-F07561-warning);
    border-radius: 8px;
    transition: width 0.3s ease;
}

.progress-group progress::-moz-progress-bar {
    border-radius: 8px;
    transition: width 0.3s ease;
}

/* **************************************** *
 * Accordion 
 * **************************************** */
.accordion {
    background: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-8-xxs);
}

.accordion-item {
    background: var(--color-ffffff-white);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: var(--radius-16-lg);
}

.accordion-header {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: var(--space-16-sm) var(--space-20-md);
}

.accordion-header-group {
    align-items: center;
    display: flex;
    gap: var(--space-12-xs);
}

.accordion-header-group img {
    width: 20px;
}

.accordion-header-text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.accordion-header-text p {
    color: var(--color-181F27-balck);
    font-size: var(--font-14-xs);
    font-weight: var(--font-400-regular);
    line-height: 20px;
}

.accordion-header-text h6 {
    color: var(--color-181F27-balck);
    font-size: var(--font-16-md);
    font-weight: var(--font-700-bold);
    line-height: 24px;
}

.accordion-header::after {
    background: url(../img/ico/i-accordion-down.svg);
    content: '';
    display: inline-block;
    height: 20px;
    margin: 0 0 0 auto;
    width: 20px;
}

.accordion-header.active::after {
    transform: rotate(180deg);
}

.accordion-content {
    display: none;
    overflow: hidden;
    padding: 0 var(--space-20-md) var(--space-20-md) var(--space-20-md);
}

.accordion-item.open .accordion-content {
    display: block;
}

/* **************************************** *
 * Tab 
 * **************************************** */
.tab-container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 101;
}

.tab-buttons {
    background: var(--color-ffffff-white);
    display: flex;
}

.tab-buttons .tab-link {
    border-bottom: 1px solid var(--color-cccccc-line);
    color: var(--color-8B95A1-softgray);
    cursor: pointer;
    font-size: var(--font-15-sm);
    font-weight: var(--font-500-medium);
    flex: 1;
    padding: var(--space-16-sm) 0;
    line-height: 22px;
    text-align: center;
}

.tab-buttons .tab-link.active {
    border-color: var(--color-181F27-balck);
    color: var(--color-181F27-balck);
    font-weight: var(--font-700-bold);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tooltip {
    display: flex;
    position: relative;
}

.tooltip img {
    cursor: pointer;
    width: 20px;
}

.tooltip-box {
    background: var(--color-F07561-warning);
    border-radius: var(--radius-12-md);
    display: none;
    left: -22px;
    opacity: 0;
    position: absolute;
    padding: var(--space-12-xs) var(--space-20-md);
    top: 38px;
    width: 240px;
}

.tooltip-box.show {
    display: block;
    opacity: 1;
    transition: opacity 1s;
}

.tooltip-box::before {
    background: url(../img/ico/i-tooltip-trg.svg);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 20px;
    position: absolute;
    top: -14px;
    width: 20px;
}

.tooltip-box h6 {
    color: var(--color-ffffff-white);
    font-size: var(--font-13-xxs);
    font-weight: var(--font-500-medium);
    line-height: 20px;
}